.movie-cards__wrapper {
    font-family: $fontmain;
    margin-top: 17px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie-card {
    width: 208px;
    max-height: 350px;
    border-radius: 8px;
    margin-top: 20px;

    &__poster {
        width: 100%;
        max-height: 276px;
        position: relative;
    }

    &__info {
        padding-top: 19px;
        padding-bottom: 15px;
        font-size: 13px;
        color: aliceblue;
    }

}

.poster {
    &__rating {
        width: 32px;
        height: 27px;
        border-radius: 4px;
        background-color: #F5C51C;
        font-size: 13px;
        font-weight: 700;
        position: absolute;
        z-index: 1;
        top: 22px;
        right: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img {
        width: 100%;
        max-height: 276px;
        border-radius: 8px;
    }

    &__img-hover {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background-color: black;
        opacity: 20%;
    }

    &__img-hover:hover {
        cursor: pointer;
        background-color: gray;
    }
}