header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    opacity: 1;
}

.img__link {
    width: 150px;
    margin: 30px 3px 10px 3px;

    &:hover {
        opacity: 0.5;
    }
}

.menu {
    display: flex;
    justify-content: space-around;
    flex-basis: 36rem;
    padding-top: 20px;


    .blocktext {
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }
}

.blocktext {
    font-family: $fontmain;
    font-weight: lighter;
    font-size: smaller;
}

a {
    text-decoration: none;
    color: aliceblue;

    &:hover {
        opacity: 0.5;
    }

    &:visited {
        text-decoration: none;
    }
}

.blocktext {
    .submenu {
        position: absolute;
        width: max-content;
        z-index: 10;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        list-style-type: none;
        text-decoration: none;
        color: aliceblue;
        padding: 10px;
    }
}

.submenu {
    visibility: hidden;
    background: #434242;

    li {
        padding-top: 5px;
        padding-bottom: 5px;

        &:hover {
            text-decoration: none;
            opacity: 0.5;
        }
    }

}

ul li:hover .submenu {
    visibility: visible;

}

.open {
    display: flex !important;
}

//бургер меню
.burger {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
    margin-top: 20px;
}

.burger span {
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: #FAF6F2;
    padding-top: 0;
}

.burger::before,
.burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #FAF6F2;
    transition: all 0.3s ease 0s;
}

.burger::before {
    top: 0
}

.burger::after {
    bottom: 0
}


// /* Добавляем класс active для анимации иконки бургера */
.burger.active span {
    transform: scale(0)
}

.burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

// medis для бургера
@media (max-width: 900px) {

    .burger {
        display: flex
    }

    .menu {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 5rem;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: black;
        animation: burgerAnimation 0.4s;
    }

    .menu li {
        flex-direction: column;
        row-gap: 30px;
        padding-top: 1rem;
    }

    .search_blocktext {
        padding: 0;
        margin: 0;
    }
}

@keyframes burgerAnimation {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}


// адаптив
@media screen and (max-width: 2400px) {
    .menu_button {
        display: none;
    }

    .search_blocktext {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .menu_button {
        display: inline-block;
        font-family: $fontmain;
        color: aliceblue;
        padding-top: 20px;

        border: none;
        outline: none;
        background-color: rgba(0, 0, 0, 0);
    }

    .search {
        display: none;
    }

    .search_blocktext {
        display: inline-block;

        font-family: $fontmain;
        color: aliceblue;
        border: none;
        outline: none;
        background-color: rgba(0, 0, 0, 0);
    }
}

.search_button {
    visibility: hidden;
}