header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    opacity: 1;
    //position: relative;
    //z-index: 1;
}

#logot {
    width: 140.39px;
    height: 40px;
    left: 135px;
    top: 60px;
    margin: 30px 3px 10px 3px;

    &:hover {
        opacity: 0.5;
    }
}

.menu {
    display: flex;
    justify-content: space-around;
    flex-basis: 36rem;
    padding-top: 10px;


    li {
        display: inline-block;
    }

    a {
        text-decoration: none;
    }
}

.blocktext {
    font-family: $fontmain;
    font-weight: lighter;

    /*
    &.H {
        margin: 43px 3px 10px 270px;
    }

    &.S,
    &.Pa,
    &.Po,
    &.N {
        margin: 43px 3px 10px 3px;
    }*/
}

a {
    text-decoration: none;
    color: aliceblue;

    &:hover {
        text-decoration: underline;
    }

    &:visited {
        text-decoration: none;
    }
}