.search {
    width: auto;
    margin-right: 30px;
}

.search_str {
    width: 131px;
    height: 25px;
    padding-left: 15px;
    border-radius: 20px;
    border: none;
    background-color: #f7f7f7ab;
    color: white;
    outline: none;
    position: relative;
}

// .search_button {
//     position: relative;
//     width: 25px;
//     height: 25px;
//     border: none;
//     cursor: pointer;
//     color: #f7f7f7;
//     content: '';
//     background: url('../assets/images/search_logo.svg');
// }