.slider-wrapper {
    display: flex;
    max-width: 1200px;
    position: relative;
    margin-bottom: 30px;
}

.slider-wrapper {
    .slide-button {
        position: absolute;
        top: 50%;
        outline: none;
        border: none;
        height: 40px;
        width: 40px;
        z-index: 5;
        color: #dbdbdbad;
        display: flex;
        cursor: pointer;
        font-size: 2.2rem;
        background: #98989877;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transform: translateY(-50%);
    }
}

.slider-wrapper {
    .slide-button {
        &:hover {
            background: #404040;
        }
    }
}

.slider-wrapper {
    .image-list {
        font-size: 0px;
        cursor: pointer;
        overflow-x: scroll;
        white-space: nowrap;
        scroll-behavior: smooth;
    }
}

// .image-list::-webkit-scrollbar {
//     display: none;
// }

.slider-wrapper {
    .image-list {
        .image-item {
            width: 176px;
            height: 234px;
            object-fit: cover;
            border-radius: 8px;
            margin: 9px 9px;
        }
    }
}


.slider-wrapper {
    .slide-button#left {
        left: -25px;
        display: none;
    }

    .slide-button#right {
        right: -25px;
    }
}