.movie-cards__wrapper {
    margin-top: 17px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie-card {
    max-width: 208px;
    max-height: 306px;
    border-radius: 8px;

    &__poster {
        width: 100%;
        max-height: 276px;
        position: relative;
    }

    &__info {
        padding-top: 19px;
        font-size: 14px;
    }

}

.poster {
    &__rating {
        width: 32px;
        height: 27px;
        border-radius: 4px;
        background-color: #F5C51C;
        font-size: 10px;
        font-weight: 700;
        position: absolute;
        z-index: 1;
        top: 22px;
        right: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img {
        width: 100%;
        max-height: 276px;
        border-radius: 8px;
    }
}