.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.movie-cards__wrapper {
  margin-top: 17px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie-card {
  width: 208px;
  max-height: 350px;
  border-radius: 8px;
  margin-top: 20px;
}
.movie-card__poster {
  width: 100%;
  max-height: 276px;
  position: relative;
}
.movie-card__info {
  padding-top: 19px;
  padding-bottom: 15px;
  font-size: 14px;
}

.poster__rating {
  width: 32px;
  height: 27px;
  border-radius: 4px;
  background-color: #F5C51C;
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  z-index: 1;
  top: 22px;
  right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.poster__img {
  width: 100%;
  max-height: 276px;
  border-radius: 8px;
}

.slider-wrapper {
  display: flex;
  max-width: 1200px;
  position: relative;
  margin-bottom: 30px;
}

.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 40px;
  width: 40px;
  z-index: 5;
  color: rgba(219, 219, 219, 0.6784313725);
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: rgba(152, 152, 152, 0.4666666667);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
  background: #404040;
}

.slider-wrapper .image-list {
  font-size: 0px;
  cursor: pointer;
  overflow-x: scroll;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.slider-wrapper .image-list .image-item {
  width: 176px;
  height: 234px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  margin: 9px 9px;
}

.slider-wrapper .slide-button#left {
  left: -25px;
  display: none;
}
.slider-wrapper .slide-button#right {
  right: -25px;
}

body {
  background-color: rgba(5, 5, 5, 0.8392156863);
}

h2 {
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
}

footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  opacity: 1;
}

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  opacity: 1;
}

#logot {
  width: 140.39px;
  height: 40px;
  left: 135px;
  top: 60px;
  margin: 30px 3px 10px 3px;
}
#logot:hover {
  opacity: 0.5;
}

.menu {
  display: flex;
  justify-content: space-around;
  flex-basis: 36rem;
  padding-top: 10px;
}
.menu .blocktext {
  display: inline-block;
}
.menu a {
  text-decoration: none;
}

.blocktext {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: aliceblue;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  text-decoration: none;
}

.search {
  width: auto;
  margin-right: 30px;
}

.search_str {
  width: 131px;
  height: 25px;
  padding-left: 15px;
  border-radius: 20px;
  border: none;
  background-color: rgba(247, 247, 247, 0.6705882353);
  color: white;
  outline: none;
  position: relative;
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf");
}/*# sourceMappingURL=index.css.map */