@charset "UTF-8";
.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.movie-cards__wrapper {
  font-family: "Montserrat", sans-serif;
  margin-top: 17px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie-card {
  width: 208px;
  max-height: 350px;
  border-radius: 8px;
  margin-top: 20px;
}
.movie-card__poster {
  width: 100%;
  max-height: 276px;
  position: relative;
}
.movie-card__info {
  padding-top: 19px;
  padding-bottom: 15px;
  font-size: 13px;
  color: aliceblue;
}

.poster__rating {
  width: 32px;
  height: 27px;
  border-radius: 4px;
  background-color: #F5C51C;
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  z-index: 1;
  top: 22px;
  right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.poster__img {
  width: 100%;
  max-height: 276px;
  border-radius: 8px;
}
.poster__img-hover {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: black;
  opacity: 20%;
}
.poster__img-hover:hover {
  cursor: pointer;
  background-color: gray;
}

.slider-wrapper {
  display: flex;
  max-width: 1200px;
  position: relative;
  margin-bottom: 30px;
}

.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 40px;
  width: 40px;
  z-index: 5;
  color: rgba(219, 219, 219, 0.6784313725);
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: rgba(152, 152, 152, 0.4666666667);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
  background: #404040;
}

.slider-wrapper .image-list {
  font-size: 0px;
  cursor: pointer;
  overflow-x: scroll;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.image-list::-webkit-scrollbar {
  display: none;
}

.slider-wrapper .image-list .image-item {
  width: 176px;
  height: 234px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  margin: 9px 9px;
}

.slider-wrapper .slide-button#left {
  left: -25px;
  display: none;
}
.slider-wrapper .slide-button#right {
  right: -25px;
}

body {
  background-color: rgba(5, 5, 5, 0.8392156863);
}

h2 {
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  opacity: 1;
}

.img__link {
  width: 150px;
  margin: 30px 3px 10px 3px;
}
.img__link:hover {
  opacity: 0.5;
}

.menu {
  display: flex;
  justify-content: space-around;
  flex-basis: 36rem;
  padding-top: 20px;
}
.menu .blocktext {
  display: inline-block;
}
.menu a {
  text-decoration: none;
}

.blocktext {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  font-size: smaller;
}

a {
  text-decoration: none;
  color: aliceblue;
}
a:hover {
  opacity: 0.5;
}
a:visited {
  text-decoration: none;
}

.blocktext .submenu {
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  z-index: 10;
  transition: 0.5s ease-in-out;
  list-style-type: none;
  text-decoration: none;
  color: aliceblue;
  padding: 10px;
}

.submenu {
  visibility: hidden;
  background: #434242;
}
.submenu li {
  padding-top: 5px;
  padding-bottom: 5px;
}
.submenu li:hover {
  text-decoration: none;
  opacity: 0.5;
}

ul li:hover .submenu {
  visibility: visible;
}

@media screen and (max-width: 2400px) {
  .menu_button {
    visibility: hidden;
  }
}
@media screen and (max-width: 850px) {
  .menu_button {
    visibility: visible;
    flex-basis: content;
    font-family: "Montserrat", sans-serif;
    color: aliceblue;
    padding-top: 20px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
  }
  .menu {
    display: none;
  }
  .search {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  /* стили для широкого смартфона */
}
@media screen and (max-width: 375px) {
  /* стили для среднего смартфона */
}
@media screen and (max-width: 320px) {
  /* стили для малого смартфона */
}
.modal {
  font-family: "Montserrat", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3176470588);
}
.modal__container {
  width: 770px;
  height: 420px;
  margin: 90px auto;
  padding-right: 20px;
  padding-left: 20px;
  background-color: aliceblue;
  border-radius: 8px;
  position: relative;
}
.modal__header {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.modal__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding-top: 20px;
}
.modal__close {
  position: absolute;
  top: 13px;
  right: 25px;
  z-index: 1001;
  font-size: 25px;
  cursor: pointer;
}

.header__title {
  font-size: 24px;
  margin-right: 43px;
}
.header__rating {
  font-size: 20px;
}
.header__rating {
  font-size: 20px;
}

.main__img {
  width: 200px;
  height: 100%;
  border-radius: 8px;
}
.main__info {
  max-width: 500px;
}

.info__title {
  font-size: 17px;
  font-weight: 700;
}

.info-padding {
  padding-top: 10px;
}

footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  opacity: 1;
}

span {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  font-size: smaller;
  color: rgb(94, 94, 94);
  padding-top: 1.2rem;
}

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  opacity: 1;
}

.img__link {
  width: 150px;
  margin: 30px 3px 10px 3px;
}
.img__link:hover {
  opacity: 0.5;
}

.menu {
  display: flex;
  justify-content: space-around;
  flex-basis: 36rem;
  padding-top: 20px;
}
.menu .blocktext {
  display: inline-block;
}
.menu a {
  text-decoration: none;
}

.blocktext {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  font-size: smaller;
}

a {
  text-decoration: none;
  color: aliceblue;
}
a:hover {
  opacity: 0.5;
}
a:visited {
  text-decoration: none;
}

.blocktext .submenu {
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  z-index: 10;
  transition: 0.5s ease-in-out;
  list-style-type: none;
  text-decoration: none;
  color: aliceblue;
  padding: 10px;
}

.submenu {
  visibility: hidden;
  background: #434242;
}
.submenu li {
  padding-top: 5px;
  padding-bottom: 5px;
}
.submenu li:hover {
  text-decoration: none;
  opacity: 0.5;
}

ul li:hover .submenu {
  visibility: visible;
}

@media screen and (max-width: 2400px) {
  .menu_button {
    visibility: hidden;
  }
}
@media screen and (max-width: 850px) {
  .menu_button {
    visibility: visible;
    flex-basis: content;
    font-family: "Montserrat", sans-serif;
    color: aliceblue;
    padding-top: 20px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
  }
  .menu {
    display: none;
  }
  .search {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  /* стили для широкого смартфона */
}
@media screen and (max-width: 375px) {
  /* стили для среднего смартфона */
}
@media screen and (max-width: 320px) {
  /* стили для малого смартфона */
}
.search {
  width: auto;
  padding-top: 20px;
  white-space: nowrap;
}

.search_str {
  width: 131px;
  height: 25px;
  padding-left: 15px;
  border-radius: 20px;
  border: none;
  background-color: rgba(247, 247, 247, 0.6705882353);
  color: white;
  outline: none;
  position: relative;
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf");
}/*# sourceMappingURL=index.css.map */